/* HEADER */

.tela-fim-quizz {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-tela-fim-quizz{
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #6C8FB8;
    position: fixed;
    top: 0;
    left: 0;
}

.titulo-tela-fim-quizz {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: white;
    padding: 10px;
    
}

/* MAIN */

.main-tela-fim-quizz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 80px;
    padding-bottom: 20px;
    width: 50%;
    
   

}

.titulo-quizz-tela-fim-quizz {
    margin-top: 3%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    font-family: 'Merriweather', serif;
    font-size: 40px;
    color: black;
}
.box-titulo-resultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.titulo-resultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif;
    font-size: 30px;
    color: white;
    width: 95%;
    height: 150px;
    background-color: #6C8FB8;
    text-align: center; 
}

.box-resultado {
    width: 90%;
    display: flex;
    justify-content: center;
}

.descricao-resultado > span {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    color: #8f8e8e;

}

.descricao-resultado {
    font-family: 'Merriweather', serif;
    font-size: 17px;
    color: #8f8e8e;
    font-weight: 200;
    width: 100%;
    margin-left: 20px;
    padding-top: 20px;    
    padding-left: 20px;
    padding-right: 20px;
    
    

}

.imagem-resultado > img {
    width: 120%;
    padding-top: 40px;
    
    

}

/* MOBILE */
@media (max-width: 600px) {
    .titulo-quizz-tela-fim-quizz {
        margin-top: 5%;
        font-size: 20px;
        
    }
    .main-tela-fim-quizz{
        width: 90%;
    }
    .titulo-resultado {
        width: 100%;
        font-size: 20px;

    }
    .descricao-resultado > span {
        font-size: 20px;
        text-align: center; 
        width: 100%;
        padding-left: 0;
        padding-top: 0;
    
    }

    .descricao-resultado {
        font-size: 17px;
        width: 100%;
        text-align: center; 
        padding-top: 0;
        padding-left: 0;
        margin-top: 20px;
    }

    .imagem-resultado > img {
        width: 100%;
        padding-top: 0;
        padding-left: 0;
        margin-top: 20px;
    
    }

    .box-resultado{
        width: 100%;
        flex-wrap: wrap;
    }
    
    
    

}