


.tela-lista-quizzes {
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;

}


.main-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-left: 5px;
    margin-right: 5px;

}

.header-tela-quizzes {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #6C8FB8;
    position: fixed;
    top: 0;
    left: 0;
}

.titulo-tela-quizzes {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: white;
    padding: 10px;

}

.card {
    width: 150px;
    height: 170px;
    background-color: #7EA6D4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.3);
}

.novo-quizz {
    font-family: 'Roboto', sans-serif;
    color: White;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 20px;
}

.icone {

    color: White;
    font-size: 35px;
    cursor: pointer;

}

.meu-quizz {
    background-color: white;
    font-family: 'Roboto', sans-serif;

}

.titulo-card-quizz{
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;

}